
*.suo
*.user

/.vs
/packages

/WebBox/bin
/WebBox/obj

/WebBox.Clients/obj
/WebBox.Clients/bin

/WebBox.Configuration/obj
/WebBox.Configuration/bin

/WebBox.Drive/obj
/WebBox.Drive/bin

/WebBox.Pool/bin
/WebBox.Pool/obj

/WebBox.Storage/obj
/WebBox.Storage/bin

/WebBox.Wpf.Sample/obj
/WebBox.Wpf.Sample/bin
